.project_member_container {
    width: 600px;
    height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px;
    border: 2px solid rgb(239, 239, 239);
    border-radius: 10px;

    i{
        position: absolute;
        top: 40px;
        right: 50px;
        font-size: 20px;
    }

    h1 {
        font-size: 20px;
        font-weight: 500;
        width: 100%;
    }

    h1:after {
        content: "";
        background-color: green;
        height: 3px;
        width: 40px;
        display: block;
        margin-top: 10px;
    }

    .member_list {
        margin-top: 40px;
        height: 90%;
        overflow-y: auto;

        .single {
            display: flex;
            align-items: center;
            padding: 5px;
            margin: 20px 0;

            .image {
                img {
                    width: 45px;
                }
            }

            .detail{
                margin-left: 20px;

                p.name{
                    font-size: 17px;
                    font-weight: 500;
                }
                
                p.email{
                    font-weight: 500;
                    font-size: 13px;
                    color: rgb(186, 186, 186);
                }
            }
        }
    }
}
